
html, body, #root {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
}

a.inline-flex.items-center img {
  display: block;
}



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}


.notes_body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  width: 100%;
}

.notes_note {
  display: inline-block;
  position: relative;
  min-width: 200px;
  max-width: 400px;
  height: auto;
  min-height: 150px; /* Minimum height */
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #ffe922;
  background-image: linear-gradient(#d2d0d07e .1em, transparent .1em);
  background-size: 100% 1.2em;
}

.pinned_note_wrapper {
  display: flex;
  justify-content: center;
}


.notes_body {
  display: flex;
  flex-wrap: wrap;
}

.notes_note p {
  text-align: center;
  overflow-wrap: break-word; /* Breaks long words to prevent overflow */
  max-width: 100%; /* Ensures the element does not exceed its container's width */
}

.note_date {
  margin-top: 5px;
  margin-left: 2.1em;
  bottom: 0;
  left: 0;
  position: absolute;
  font-size: 10px !important;
  font-style: italic !important;
}

.notes_note:hover .deletebtn,
.notes_note:hover .editbtn {
  display: inline-block;
}

.notes_note:hover:before {
  content: "";
  position: absolute;
  bottom: 0%;
  right: 0%;
  width: 0px;
  height: 0px;
  border-radius: 5px 0 0 0;
  border-top: 30px solid #ababab;
  border-right: 30px solid transparent;
  box-shadow: -5px -5px 5px rgba(101, 101, 101, 0.3);
  transition: all 0.10s ease; /* Add slow transition */
}


.notes_note:hover:after {
  content: "";
  position: absolute;
  bottom: 0%;
  right: 0%;
  width: 0px;
  height: 0px;
  border-bottom: 30px solid #fffffff3; 
  border-left: 30px solid transparent;
  transition: all 0.10s ease; /* Add slow transition */
}

.notes_note input, textarea {
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  font-size: 0.7em;
}

.title {
  font-size: 0.8em !important;
  text-align: center !important;
}

.notes_note input,textarea:focus {
  outline: none;
}



.editbtn {
  display: none;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  left: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.pinbtn{
  position: absolute;
  width: 30px;
  height: 30px;
  bottom: 0;
  left: 0;
  border: none;
  cursor: pointer;
  font-size: 0.7em;
}


.deletebtn{
  display: none;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  right: 0;
  border: none;
  background-color: transparent;
  color: rgb(255, 0, 0);
  font-size: 1.3em;
  border-radius: 5px;
  cursor: pointer;
}


.submitBTN{
  position: absolute;
  width: 30px;
  height: 30px;
  bottom: 0;
  left: 0;
  border: none;
  background-color: transparent;
  font-size: 0.8em;
  cursor: pointer;
}


.addBTN {
  width: 50px;
  height: 50px;
  margin: 20px;
  border: solid 1px blue;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  color: blue;
  font-size: 1.5em;
  cursor: pointer;
}

.notes_note p {
  font-size: 0.7em;
  padding: 5px;
  margin-top: 5px;
  text-align: center;
}

.deletedNotes h1{
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.colorpicker {
  width: 150px !important;
  height: 100px !important;
  margin-left: 20px;
}

.container_notes{
  display: flex;
  gap: 20px;
  width: 100%;
}



/* NAVBAr active link */

.activeLink {
  font-weight: bold;
  color: #1d4ed8; 
}




